In [1]:
import numpy as np
import pandas as pd
import neattext as nt
import texthero as hero

ModuleNotFoundError: No module named 'neattext'

In [40]:
# Essayer différents encodages jusqu'à ce que le fichier soit lu correctement
encodings = ['utf-8', 'latin-1', 'iso-8859-1']

for encoding in encodings:
    try:
        # Charger le fichier TSV dans un DataFrame
        df = pd.read_csv('test_set.tsv', sep='\t', encoding=encoding)

        # Enregistrer le DataFrame dans un fichier CSV
        df.to_csv('test_set.csv', index=False)

        print(f"Le fichier a été lu avec succès avec l'encodage : {encoding}")
        break  # Sortir de la boucle si la lecture réussit

    except UnicodeDecodeError:
        print(f"Échec de la lecture avec l'encodage : {encoding}")

Échec de la lecture avec l'encodage : utf-8
Le fichier a été lu avec succès avec l'encodage : latin-1

In [41]:
data = pd.read_csv("test_set.csv")

### Exploratory Data Analysis (EDA)

In [42]:
data.head()

,essay_id,essay_set,essay,domain1_predictionid,domain2_predictionid
0,2383,1,I believe that computers have a positive effec...,2383,NaN
1,2384,1,"Dear @CAPS1, I know some problems have came up...",2384,NaN
2,2385,1,"Dear to whom it @MONTH1 concern, Computers are...",2385,NaN
3,2386,1,"Dear @CAPS1 @CAPS2, @CAPS3 has come to my atte...",2386,NaN
4,2387,1,"Dear Local newspaper, I think that people have...",2387,NaN

In [43]:
data.tail()

,essay_id,essay_set,essay,domain1_predictionid,domain2_predictionid
4249,22238,8,Just One @CAPS1 @CAPS2 can bring people togeth...,25238,NaN
4250,22239,8,@CAPS8 Was my first time going to the band ca...,25239,NaN
4251,22240,8,Laughter is one of the most important things i...,25240,NaN
4252,22241,8,A @CAPS1 Of @C...,25241,NaN
4253,22242,8,Good @CAPS1 In @LOCATION1. Every year a sel...,25242,NaN

In [44]:
data.dtypes

essay_id                  int64
essay_set                 int64
essay                    object
domain1_predictionid      int64
domain2_predictionid    float64
dtype: object

In [45]:
data.isnull().sum().to_frame("Null values")

                      Null values
essay_id                        0
essay_set                       0
essay                           0
domain1_predictionid            0
domain2_predictionid         3654

In [46]:
data.shape

(4254, 5)

In [47]:
domain2_predictionid_null_values = 4254 - data["domain2_predictionid"].isnull().sum()
domain2_predictionid_null_values

600

In [48]:
data.drop("domain2_predictionid", axis=1, inplace=True)

In [49]:
data.head()

,essay_id,essay_set,essay,domain1_predictionid
0,2383,1,I believe that computers have a positive effec...,2383
1,2384,1,"Dear @CAPS1, I know some problems have came up...",2384
2,2385,1,"Dear to whom it @MONTH1 concern, Computers are...",2385
3,2386,1,"Dear @CAPS1 @CAPS2, @CAPS3 has come to my atte...",2386
4,2387,1,"Dear Local newspaper, I think that people have...",2387

In [50]:
data.columns

Index(['essay_id', 'essay_set', 'essay', 'domain1_predictionid'], dtype='object')

In [51]:
text_data = nt.TextFrame(str(data))
text_data.describe()

Key      Value
Length  : 1333
vowels  : 144
consonants: 231
stopwords: 33
punctuations: 71
special_char: 71
tokens(whitespace): 147
tokens(words): 142

In [52]:
text_data.bow()

Counter({'1': 7,
         'CAPS1': 5,
         '8': 5,
         'Dear': 4,
         'I': 3,
         'have': 3,
         'to': 3,
         '4': 3,
         '0': 2,
         '2383': 2,
         'that': 2,
         'a': 2,
         '2384': 2,
         '2': 2,
         '2385': 2,
         '3': 2,
         '2386': 2,
         'CAPS2': 2,
         'my': 2,
         '2387': 2,
         'people': 2,
         '4249': 2,
         '4250': 2,
         'the': 2,
         '4251': 2,
         '4252': 2,
         '4253': 2,
         'essay_id': 1,
         'essay_set': 1,
         'essay': 1,
         'believe': 1,
         'computers': 1,
         'positive': 1,
         'effec': 1,
         'know': 1,
         'some': 1,
         'problems': 1,
         'came': 1,
         'up': 1,
         'whom': 1,
         'it': 1,
         'MONTH1': 1,
         'concern': 1,
         'Computers': 1,
         'are': 1,
         'CAPS3': 1,
         'has': 1,
         'come': 1,
         'atte': 1,
         'Local': 1,
         'newspaper': 1,
         'think': 1,
         '22238': 1,
         'Just': 1,
         'One': 1,
         'can': 1,
         'bring': 1,
         'togeth': 1,
         '22239': 1,
         'CAPS8': 1,
         'Was': 1,
         'first': 1,
         'time': 1,
         'going': 1,
         'band': 1,
         'ca': 1,
         '22240': 1,
         'Laughter': 1,
         'is': 1,
         'one': 1,
         'of': 1,
         'most': 1,
         'important': 1,
         'things': 1,
         'i': 1,
         '22241': 1,
         'A': 1,
         'Of': 1,
         'C': 1,
         '22242': 1,
         'Good': 1,
         'In': 1,
         'LOCATION1': 1,
         'Every': 1,
         'year': 1,
         'sel': 1,
         'domain1_predictionid': 1,
         '25238': 1,
         '25239': 1,
         '25240': 1,
         '25241': 1,
         '25242': 1,
         '4254': 1,
         'rows': 1,
         'x': 1,
         'columns': 1})

In [53]:
text_data.memory_usage()

{'memory': 1382, 'human_readable': '1.35 KB'}

In [54]:
text_data.word_stats()

{'Length of Text': 1333,
 'Num of Vowels': 144,
 'Num of Consonants': 231,
 'Num of Stopwords': 33,
 'Stats of Vowels': {'a': 39, 'e': 44, 'i': 23, 'o': 32, 'u': 6},
 'Stats of Consonants': {'b': 4,
  'c': 23,
  'd': 10,
  'f': 5,
  'g': 7,
  'h': 14,
  'j': 1,
  'k': 2,
  'l': 10,
  'm': 15,
  'n': 19,
  'p': 22,
  'q': 0,
  'r': 18,
  's': 32,
  't': 30,
  'v': 6,
  'w': 5,
  'x': 1,
  'y': 7,
  'z': 0}}

In [55]:
text_data.term_freq()

{'essay_id': 0.14285714285714285,
 'essay_set': 0.14285714285714285,
 'essay': 0.14285714285714285,
 '\\': 0.14285714285714285,
 '0': 0.2857142857142857,
 '2383': 0.2857142857142857,
 '1': 1.0,
 'I': 0.42857142857142855,
 'believe': 0.14285714285714285,
 'computers': 0.14285714285714285,
 'positive': 0.14285714285714285,
 'effec...': 0.14285714285714285,
 '2384': 0.2857142857142857,
 'Dear': 0.5714285714285714,
 '@CAPS1,': 0.14285714285714285,
 'know': 0.14285714285714285,
 'problems': 0.14285714285714285,
 'came': 0.14285714285714285,
 'up...': 0.14285714285714285,
 '2': 0.2857142857142857,
 '2385': 0.2857142857142857,
 '@MONTH1': 0.14285714285714285,
 'concern,': 0.14285714285714285,
 'Computers': 0.14285714285714285,
 'are...': 0.14285714285714285,
 '3': 0.2857142857142857,
 '2386': 0.2857142857142857,
 '@CAPS1': 0.5714285714285714,
 '@CAPS2,': 0.14285714285714285,
 '@CAPS3': 0.14285714285714285,
 'come': 0.14285714285714285,
 'atte...': 0.14285714285714285,
 '4': 0.42857142857142855,
 '2387': 0.2857142857142857,
 'Local': 0.14285714285714285,
 'newspaper,': 0.14285714285714285,
 'think': 0.14285714285714285,
 'people': 0.2857142857142857,
 'have...': 0.14285714285714285,
 '...': 0.8571428571428571,
 '4249': 0.2857142857142857,
 '22238': 0.14285714285714285,
 '8': 0.7142857142857143,
 'Just': 0.14285714285714285,
 'One': 0.14285714285714285,
 '@CAPS2': 0.14285714285714285,
 'bring': 0.14285714285714285,
 'togeth...': 0.14285714285714285,
 '4250': 0.2857142857142857,
 '22239': 0.14285714285714285,
 '@CAPS8': 0.14285714285714285,
 'Was': 0.14285714285714285,
 'time': 0.14285714285714285,
 'going': 0.14285714285714285,
 'band': 0.14285714285714285,
 'ca...': 0.14285714285714285,
 '4251': 0.2857142857142857,
 '22240': 0.14285714285714285,
 'Laughter': 0.14285714285714285,
 'important': 0.14285714285714285,
 'things': 0.14285714285714285,
 'i...': 0.14285714285714285,
 '4252': 0.2857142857142857,
 '22241': 0.14285714285714285,
 'A': 0.14285714285714285,
 'Of': 0.14285714285714285,
 '@C...': 0.14285714285714285,
 '4253': 0.2857142857142857,
 '22242': 0.14285714285714285,
 'Good': 0.14285714285714285,
 'In': 0.14285714285714285,
 '@LOCATION1.': 0.14285714285714285,
 'Every': 0.14285714285714285,
 'year': 0.14285714285714285,
 'sel...': 0.14285714285714285,
 'domain1_predictionid': 0.14285714285714285,
 '25238': 0.14285714285714285,
 '25239': 0.14285714285714285,
 '25240': 0.14285714285714285,
 '25241': 0.14285714285714285,
 '25242': 0.14285714285714285,
 '[4254': 0.14285714285714285,
 'rows': 0.14285714285714285,
 'x': 0.14285714285714285,
 'columns]': 0.14285714285714285}

In [56]:
data_clean = text_data.clean_text()
data_clean

'      essayid  essayset                                              essay             i believe that computers have a positive effec     dear caps i know some problems have came up     dear to whom it month concern computers are     dear caps caps caps has come to my atte     dear local newspaper i think that people have                                                                        just one caps caps can bring people togeth      caps was my first time going to the band ca     laughter is one of the most important things i                                     a caps of c       good caps in location  every year a sel         domainpredictionid                                                                  rows x  columns'

In [57]:
data_c = pd.Series(data_clean)
data_c

0          essayid  essayset                       ...
dtype: object

In [61]:
data_c_to_numeric = hero.tfidf(data_c)

In [62]:
data_c_to_numeric

0    [0.2041241452319315, 0.06804138174397717, 0.06...
dtype: object